.registration-form-container{
  color:rgb(39, 206, 27);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 20%;
  margin-right: 10%;
}
.form-group{
  color: #43F40B;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn{
  cursor: pointer;
  font-family:'Times New Roman', Times, serif;
  background-color: #00A9FF;
}
